<h1><%= @artist.name %></h1>
<%= link_to 'Edit Artist', edit_artist_path(@artist) %> |
<%= link_to 'Delete Artist', @artist, method: :delete %>
<hr />
<h4>Billboards <%= @artist.name %> appears on</h4>
<ul>
  <% @artist.billboards.each do |billboard| %>
    <li>
      <%= link_to billboard.name, billboard %>
    </li>
  <% end %>
</ul>


