<h1><%= @billboard.name %></h1>
<%= link_to 'Add Song', new_billboard_song_path(@billboard)%>
<hr />

<ol>
  <% @songs.each do |song| %>
    <li>
      <%= song.name %> - <%= song.artist.name %>
      <%= link_to 'Remove', billboard_song_path(@course, song), method: :delete %>
      <br /> 
    </li>
  <% end %>
</ol>