<h1><%= @billboard.id ? 'Edit Billboard' : 'New Billboard' %></h1>
<%= form_for @billboard.id ? Billboard.find(params[:id]) : @billboard do |f| %>
  <form>
  <div class="input-field col s12">
    <%= f.label :name %>
    <input placeholder="Placeholder" id="first_name" type="text" class="validate"><%= f.text_field :name %></input>
  </div>
  <%= f.submit %>
  </form>
<%end%>



